/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo sólido azul escuro */
body {
  font-family: Arial, sans-serif;
  background-color: #001F3F; /* Azul escuro */
  color: #fff; /* Ajuste de cor para contraste */
}

/* Cabeçalho */
#header {
  text-align: center;
  padding: 20px;
  color: #fff;
}

/* Links de redes sociais */
#social-links a {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}
#social-links a:hover {
  color: #4682B4; /* Azul claro ao passar o mouse */
}

/* Seção de introdução */
#intro {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente */
  padding: 20px;
  text-align: center;
  color: #fff; /* Texto branco para legibilidade */
}

#profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

/* Seção de Projetos */
#projects {
  padding: 20px;
  text-align: center;
}

.project {
  background-color: #001F3F; /* Fundo sólido azul escuro */
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  color: #fff;
  width: 90%;
  max-width: 300px;
  border: 3px solid #fff; /* Borda laranja intensa para um visual "Key Flames" */
  box-shadow: 0 0 15px #000; /* Efeito de brilho na borda */
}

/* Link dos projetos com botão azul */
.project a {
  display: inline-block;
  background-color: #004080; /* Azul médio para destaque */
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.project a:hover {
  background-color: #00264D; /* Azul mais escuro */
  transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}

/* Seção de Contato */
#contact {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.contact-button {
  display: inline-block;
  background-color: #004080; /* Azul médio */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #00264D; /* Azul mais escuro */
  transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}

/* Rodapé */
#footer {
  text-align: center;
  padding: 10px;
  background-color: #00264D; /* Azul bem escuro */
  color: #fff;
}